@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
      circle at 60% 50%,
      rgba(255, 255, 255, 0.6) 1.5px,
      transparent 2px
    ),
    radial-gradient(
      circle at 70% 20%,
      rgba(255, 255, 255, 0.6) 1.5px,
      transparent 2px
    ),
    radial-gradient(
      circle at 30% 70%,
      rgba(255, 255, 255, 0.6) 1.5px,
      transparent 2px
    ),
    radial-gradient(
      circle at 20% 30%,
      rgba(255, 255, 255, 0.8) 1px,
      transparent 1px
    ),
    radial-gradient(
      circle at 30% 40%,
      rgba(255, 255, 255, 0.7) 1px,
      transparent 1px
    ),
    radial-gradient(
      circle at 70% 80%,
      rgba(255, 255, 255, 0.5) 1px,
      transparent 1px
    ),
    radial-gradient(
      circle at 90% 10%,
      rgba(255, 255, 255, 0.6) 1px,
      transparent 1px
    ),
    radial-gradient(
      circle at 50% 10%,
      rgba(255, 255, 255, 0.7) 1px,
      transparent 1px
    ),
    linear-gradient(180deg, #000008 0%, #003e92 100%);
  background-size: auto, auto, auto, auto, auto, auto, auto, auto, cover;

  background-position: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;

  background-attachment: scroll, scroll, scroll, scroll, scroll, scroll, scroll,
    scroll;

  transition: background-position 0.1s ease-out;
}
.navbar-gradient {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.3); 
  transition: background-color 0.3s ease; 
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomePage {
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  margin-top: 100px;
  margin-bottom: -50px;
  align-items: center;
}
.HomeText h1 {
  font-weight: 600;
  font-size: 38px;
  letter-spacing: 0.7px;
  padding-top: 10px;
}

.TypeEffect {
  padding: 25px 0px;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.6px;
}
@keyframes rotateLoop {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.illustration {
  animation: rotateLoop 5s infinite;
  width: 400px;
  height: 400px;
}

@media (max-width: 900px) {
  .HomePage {
    display: block;
    text-align: center;
    margin-top: 150px;
    padding: 25px;
  }
  .HomeText {
    text-align: left;
    display: inline-block;
  }
  .illustration {
    animation: rotateLoop 5s infinite;
    margin: auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .HomePage {
    min-height: 70vh;
  }
  .NavbarLinks {
    inset: 0 0 0 30%;
  }
  .HomeText h1 {
    font-weight: 500;
    font-size: 28px;
  }
  .TypeEffect {
    font-weight: 500;
    font-size: 24px;
  }
  .illustration {
    animation: rotateLoop 5s infinite;
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }
}

.AboutPage {
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  margin-top: 100px;
  align-items: center;
  padding: 25px;
}

.AboutText {
  width: 50%;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1.2px;
}
.AboutTextHeading {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 40px;
}
.AboutText a {
  /* color: #9067c6; */
  text-decoration: underline;
  font-weight: bold;
}

.Avatar {
  width: 280px;
}

.hoverText {
  transition: 0.35s font-weight, 0.35s color;
}

.hoverText:hover {
  font-weight: 900;
  color: #9067c6;
}

.hoverText:hover + .hoverText {
  font-weight: 500;
  color: #9067c6;
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: #9067c6;
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

.collapsible-content.open {
  max-height: 500px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem; /* Adds padding to the wrapper for consistent spacing */
}

.about-title {
  align-self: flex-start; /* Aligns the title to the left */
  margin-left: 0.5rem; /* Adjusts left margin for alignment */
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 1000px;
  width: 100%;
  justify-content: center;
  align-items: start; /* Ensures the content starts at the top */
}

.skills-section {
  margin-top: 1rem;
}

.skills-category {
  margin-bottom: 1rem;
  font-size: 20px;
}

.skill-bar {
  border-radius: 4px;
  display: grid;
  flex-wrap: wrap; /* Allow chips to wrap to the next line */
  gap: 0.5rem; /* Optional: Adjust the space between chips */
}

.skill-bar.professional,
.skill-bar.fun {
  font-size: 18px;
  max-width: calc(
    (100% - (5 * 0.5rem)) / 6
  ); /* Adjust '0.5rem' with your actual gap */
}
